<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>
        {% block tittle %} {% endblock %}
    </title>
</head>

<body>
    <nav id="navbar">
        <a href="/home" class="tile">Home</a>
        <div class="dropdown">
            <div class="dropbtn">
                <span class="tile">About</span>
                <div class="dropdown-content">
                    <span>
                        This is an app developed purely for practicing purpose. If it works, enjoy !!!. Also the Logout button is buggy. Just reload page, after clicking once
                    </span>
                </div>
            </div>
        </div>
        {% if user == None %}
        <a href="/login" class="tile toright">Login</a>
        {% else %}
        <div class="dropdown">
            <div class="dropbtn">
                <a href="/login" class="tile toright">Hello, {{user}}</a>
                <div class="dropdown-content toright">
                    <button id="logoutbtn" class="btnmargin btn">Logout</button>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>